table {
    width: 35%;
    border-collapse: collapse;
    margin-left: 30%;
  }
  
  td {
    width: 10%;
    border: 6px solid #222;
  }
  
  td::after {
    content: "";
    display: block;
    margin-top: 20%;
  }
  